<a href="<%= root_path %>" class="back-btn">home</a>

<div class="photos-videos-div">
    <div class="text-div text-div-detail">
        <ul>
            <li><a href="<%= photos_ardaarman_path %>" style="color: blue !important;">01 Arda Arman</a></li>
            <li><a href="<%= photos_brandon_path %>">02 Brandon</a></li>
            <li><a href="<%= photos_nyc_path %>">03 NYC</a></li>
            <li><a href="<%= photos_salomon_path %>">04 Salomon</a></li>
        </ul>
    </div>
    <div class="image-div">
        <%= cl_image_tag("a11", {class: "image"})%>
        <div class="project-desc">
            <p>Day out with my brothers Arda + Arman in Moabit, Berlin. </p>
        </div>
        <%= cl_image_tag("a2", {class: "image"})%>
        <%= cl_image_tag("a3", {class: "image"})%>
        <%= cl_image_tag("a4", {class: "image"})%>
        <%= cl_image_tag("a5", {class: "image"})%>
        <%= cl_image_tag("a6", {class: "image"})%>
        <%= cl_image_tag("a7", {class: "image"})%>
        <%= cl_image_tag("a8", {class: "image"})%>
        <%= cl_image_tag("a9", {class: "image"})%>
    </div>
</div>
