<a href="<%= root_path %>" class="back-btn">home</a>

<div class="photos-videos-div">
    <div class="text-div">
        <ul>
            <li><a href="<%= photos_ardaarman_path %>">01 Arda Arman</a></li>
            <li><a href="<%= photos_brandon_path %>">02 Brandon</a></li>
            <li><a href="<%= photos_nyc_path %>" style="color: blue !important;">03 NYC</a></li>
            <li><a href="<%= photos_salomon_path %>">04 Salomon</a></li>
        </ul>
    </div>
    <div class="image-div">
        <%= cl_image_tag("ny1", {class: "image"})%>
        <div class="project-desc">
            <p>b+w diary in NYC. Shout out Evren,  Salomon and Nature.</p>
        </div>
        <%= cl_image_tag("ny2", {class: "image"})%>
        <%= cl_image_tag("ny4", {class: "image"})%>
        <%= cl_image_tag("ny5", {class: "image"})%>
        <%= cl_image_tag("ny6", {class: "image"})%>
        <%= cl_image_tag("ny7", {class: "image"})%>
        <%= cl_image_tag("ny8", {class: "image"})%>
    </div>
</div>
