<a href="<%= root_path %>" class="back-btn">home</a>
<div class="photos-videos-div" data-controller="images" data-action="images#changeImageList">
    <div class="text-div">
        <ul>
            <li><a href="<%= photos_ardaarman_path %>">01 Arda Arman</a></li>
            <li><a href="<%= photos_brandon_path %>">02 Brandon</a></li>
            <li><a href="<%= photos_nyc_path %>">03 NYC</a></li>
            <li><a href="<%= photos_salomon_path %>">04 Salomon</a></li>
        </ul>
    </div>
    <div class="image-div">
        <%= cl_image_tag("a11", {class: "image"})%>
        <%= cl_image_tag("b3", {class: "image"})%>
        <%= cl_image_tag("ny2", {class: "image"})%>
        <%= cl_image_tag("s7", {class: "image"})%>
    </div>
</div>
