<a href="<%= root_path %>" class="back-btn">home</a>

<div class="photos-videos-div">
    <div class="text-div text-div-detail">
        <ul>
            <li><a href="<%= photos_ardaarman_path %>">01 Arda Arman</a></li>
            <li><a href="<%= photos_brandon_path %>">02 Brandon</a></li>
            <li><a href="<%= photos_nyc_path %>">03 NYC</a></li>
            <li><a href="<%= photos_salomon_path %>" style="color: blue !important;">04 Salomon</a></li>
        </ul>
    </div>
    <div class="image-div">
        <%= cl_image_tag("s1", {class: "image"})%>
        <div class="project-desc">
            <p>BTS photos that were taken during the video shoot for Salomon Faye’s up-and-coming single “FAITH ON FIRE”. </p>
        </div>
        <%= cl_image_tag("s2", {class: "image"})%>
        <%= cl_image_tag("s3", {class: "image"})%>
        <%= cl_image_tag("s4", {class: "image"})%>
        <%= cl_image_tag("s5", {class: "image"})%>
        <%= cl_image_tag("s6", {class: "image"})%>
        <%= cl_image_tag("s7", {class: "image"})%>
        <%= cl_image_tag("s8", {class: "image"})%>
    </div>
</div>
